.loading-box {
    position: absolute;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}